@import './modules/bio/bio.css';
@import './modules/nav/nav.css';
@import './modules/gallery/gallery.css';

body {
    background-color: #fafafa;
    margin: 0;
}

.logo {
    text-decoration: none;
    margin-left: 0em;
}

.logo>img {
    vertical-align: middle;
}

.search {
    background: #fafafa;
    margin-left: 19em;
    height: 2em;
    width: 15.5em;
    border: 1px solid #dbdbdb;
}

.search::placeholder {
    text-align: center;
    color: #808080;
}

.container {
    padding: 0 15%;
}